.header {
    color: rgb(0, 0, 0);
    position: static;
    text-align: left;
}
nav {
    color: white;
    position: sticky;
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}