.header {
    color: black;
    position: static;
    text-align: left;
}
nav {
    color: white;
    position: sticky;
    background-color: black;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}